<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Workshop</title>
</head>
<body>
	<form action="#" th:action="@{/edit-workshop}" th:object="${workshop}"
		method="post">
		<label for="name">Name</label> <input type="text" th:field="*{name}"
			id="name"> <label for="objective">Objective</label> <input
			type="text" th:field="*{objective}" id="objective"> <label
			for="author">Author</label> <select name="author" id="author"
			th:field="*{author}">
			<option value="George Orwell">George Orwell</option>
			<option value="Jean-Paul Sartre">Jean-Paul Sartre</option>
			<option value="Robert Martin">Robert Martin</option>
			<option value="Vincent Van Gogh">Vincent Van Gogh</option>
		</select> <label for="category">Category</label> <select name="category"
			id="category" th:field="*{category}">
			<option value="Writing">Writing</option>
			<option value="Programing">Programming</option>
			<option value="Philosophy">Philosophy</option>
			<option value="Painting">Painting</option>
		</select> <label for="keywords">Keywords</label> <input type="text"
			th:field="*{keywords}" id="keywords"> <input type="hidden"
			name="id" id="id" value="${wkp.id}" th:value="${wkp.id}"> <input
			type="submit" value="Add Workshop">
	</form>
</body>
<a th:href="@{/}">Home</a>
</html>