<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Workshops</title>
</head>
<body>
	<div>
		<h1>Results</h1>
		<form action="#" th:action="@{/search-workshops/}"
			th:object="${query}" method="post">
			<input name="text" id="text" th:field="*{text}"> <label
				for="type">Search By:</label> <select name="type" id="type"
				th:field="*{type}">
				<option value=""></option>
				<option value="keywords">Keywords</option>
				<option value="author">Author</option>
				<option value="category">Category</option>
				<input type="submit" value="Search">
			</select>
		</form>
		<ul>
			<div th:each="entry : ${workshops}">
				<li>
					<h2>
					<span>Name:</span>
						<span th:text="${entry.name}">Name</span>
					</h2>
					<h3>
					<span>Author:</span>
						<span th:text="${entry.author}">Author</span>
					</h3>
					<h3>
					<span>Objective:</span>
						<span th:text="${entry.objective}">Objective</span>
					</h3>
					<h3>
					<span>Category:</span>
						<span th:text="${entry.category}">Category</span>
					</h3>
					<h3>
					<span>Keywords:</span>
						<span th:text="${entry.keywords}">Keywords</span>
					</h3>
					<td><a th:href="@{/add-task/{id}(id=${entry.id})}">Add
							Task</a></td>
					<td><a th:href="@{/view-tasks/{id}(id=${entry.id})}">View
							Tasks</a></td> <a th:href="@{/edit-workshop/{id}(id=${entry.id})}">Edit
						Workshop</a>
					</td>
					<td><a th:href="@{/generate-document/{id}(id=${entry.id})}">Generate Document</a></td>
				</li>
			</div>
		</ul>
	</div>
	<a th:href="@{/view-workshops}"> Back</a>
	<a th:href="@{/}">Home</a>
</body>
</html>