<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h1>List of Tasks</h1>
		<ul>
			<div th:each="entry : ${tasks}">
				<li>
					<h4>
						<span th:text="${entry.name}">Name</span>
					</h4>
					<h3>
						<span th:text="${entry.label}">Label</span>
					</h3>
					<h3>
						<span th:text="${entry.time}">Time</span>
					</h3>
					<h3>
						<span th:text="${entry.workshopId.name}">Workshop</span>
					</h3>
					<td><a th:href="@{/delete-task/{id}(id=${entry.id})}">Remove
							Task</a></td>
					<td><a th:href="@{/edit-task/{id}(id=${entry.id})}">Edit
							Task</a></td>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>